/.idea
/.bruno
/.vagrant
/.pnpm-store
/node_modules
**/node_modules
*.log
.env
*.pdf
*.txt
/terraform.exe
/.terraform/
*.tfstate*
*.iso
*.box
/ansible/inventory.ini
/*.png
/metadata*.json
/ubuntu-box/