/.idea
/.bruno
/.vagrant
/.pnpm-store
/node_modules
**/node_modules
*.log
.env
*.pdf
*.txt
/terraform/terraform.exe
/terraform/.terraform/
/terraform/*.tfstate*
/terraform/*.iso
/terraform/*.box
/terraform/ubuntu-box/

/mywebapp/node_modules/
/mywebapp/.pnpm-store/

/ansible/inventory.ini
/*.png
/metadata*.json